<!DOCTYPE html>
<title>mal302</title>
<h1>{{ url }}</h1>
<p>The created url is <code>{{ url_for('forward', str_id=str_id, _external=True) }}</code>.</p>
{% if visitors %}
<table>
<tr>
  <th>Visited time</th>
  <th>REMOTE_ADDR</th>
  <th>REMOTE_HOST</th>
  <th>User-Agent</th>
  <th>Accept-Language</th>
  <th>Referrer</th>
</tr>
{% for visitor in visitors %}
<tr>
  <td>{{ visitor['created'] }}</td>
  <td>{{ visitor['remote_addr'] }}</td>
  <td>{{ visitor['remote_host'] }}</td>
  <td>{{ visitor['user_agent'] }}</td>
  <td>{{ visitor['accept_language'] }}</td>
  <td>{{ visitor['referrer'] }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
